---
- name: Collect facts and print hostvars
  hosts: all
  gather_facts: yes

  tasks:
      - name: Combine all hostvars into JSON format
        run_once: true
        delegate_to: localhost
        ansible.builtin.set_fact:
            combined_hostvars_json: "{{ hostvars | to_nice_json }}"

      - name: Saved combined hostvars to a file
        run_once: true
        delegate_to: localhost
        ansible.builtin.copy:
            content: "{{ combined_hostvars_json }}"
            dest: "./hostvars.json"
